<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if check_user?(user) %>
    | <%= link_to t("users._user.delete"), user, method: :delete,
    data: { confirm: t("users._user.sure") } %>
  <% end %>
</li>
